<html>
  <head>
    <title>Exam Corner</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body>
    <div class="time">
      <h1><b id="timer"></b></h1>
    </div>
    <div class="logo1">
      <img
        src="/img/logo_png.png"
        class="logo-img"
        width="100%"
        height="100%"
      />
    </div>

    <div class="q-main">
      <form action="/usersumbit" method="post">
        <% qes.forEach((value, index) => {%>
        <div class="q-holder">
          <br />
          <div class="card1">
            <div>Q : <%= value.question %></div>
          </div>
          <br />
          <div class="card2">
            <label class="container"
              ><%= value.a %>
              <input
                type="radio"
                name="q<%= index + 1 %>"
                id="a"
                value="<%= value.a %>"
              />
              <span class="checkmark"></span>
            </label>
            <label class="container"
              ><%= value.b %>
              <input
                type="radio"
                name="q<%= index + 1 %>"
                id="b"
                value="<%= value.b %>"
              />
              <span class="checkmark"></span>
            </label>
            <label class="container"
              ><%= value.c %>
              <input
                type="radio"
                name="q<%= index + 1 %>"
                id="c"
                value="<%= value.c %>"
              />
              <span class="checkmark"></span>
            </label>
            <label class="container" value="<%= value.d %>"
              ><%= value.d %>
              <input
                type="radio"
                name="q<%= index + 1 %>"
                id="d"
                value="<%= value.d %>"
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <% }) %>
        <!-- <button>Submit</button> -->
        <input type="submit" id="submit" value="submit" />
      </form>
    </div>
    <script>
      document.getElementById("timer").innerHTML = 00 + ":" + 11;
      startTimer();

      function startTimer() {
        var presentTime = document.getElementById("timer").innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond(timeArray[1] - 1);
        if (s == 59) {
          m = m - 1;
        }
        if (m < 0) {
          document.getElementById("submit").value = "Time expired";
          document
            .getElementById("submit")
            .setAttribute("disabled", "disabled");
          return;
        }
        document.getElementById("timer").innerHTML = m + ":" + s;
        console.log(m);
        setTimeout(startTimer, 1000);
      }
      function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {
          sec = "0" + sec;
        } // add zero in front of numbers < 10
        if (sec < 0) {
          sec = "59";
        }
        return sec;
      }
    </script>
  </body>
</html>
